import(Rcpp)
import(bigmemory)
import(bigmemory.sri)
import(BH)
import(methods)
import(bigextensions)
importFrom(stats,na.omit)
importFrom(utils,head)
importFrom(utils,tail)
exportPattern("^[^\\.]")
useDynLib(niftir)
